<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add str set</title>
</head>
<body>
  <h1>Adding strSet</h1>
  <hr>

  <h3>Add strSet</h3>
  <form action="/str-set/add-str"  method="post">
    uCode: <input type="text" name="uCode" id="uCode" /><br><br>
    str: <input type="text" name="str" id="str" /><br><br>
    dsg: <input type="text" name="dsg" id="dsg" /><br><br>
    type: <input type="text" name="type" id="type" /><br><br>
    memo0: <input type="text" name="memo0" id="memo0" /><br><br>
    memo1: <input type="text" name="memo1" id="memo1" /><br><br>
    memo2: <input type="text" name="memo2" id="memo2" /><br><br>
    <button type="submit">add</button>
  </form>
</body>
</html>