<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>work process</title>
</head>
<body>
  <a href="/making-simple-raw" target="_blank">
    <h3>1. making simple rawSet</h3>
  </a>
  <a href="/transform-raw-one" target="_blank">
    <h3>2. transform rawSet</h3>
  </a>
  <a href="/transform-line" target="_blank">
    <h3>3. transform lineSet</h3>
  </a>
  <a href="/making-dvc-srt-bundle" target="_blank">
    <h3>4. making dvcTCode bundleSet (merge lineSet)</h3>
  </a>

  <a href="/making-line-point-v3" target="_blank">
    <h3>5. editing lineSet (making lineSet)</h3>
  </a>

  <br>
  <br>
  <br>
  <h2>list</h2>
  <a href="/raw-list" target="_blank">
    <h3>rawSet list</h3>
  </a>
  <a href="/line-list" target="_blank">
    <h3>lineSet list</h3>
  </a>
  <a href="/dvc-srt-bundle-list" target="_blank">
    <h3>bundleSet list</h3>
  </a>
  <a href="/color-list" target="_blank">
    <h3>color list</h3>
  </a>
  <a href="/color-palette" target="_blank">
    <h3>color palette</h3>
  </a>

  <br>
  <br>
  <br>
  <h2>to do</h2>
  <ol>
    <li>edit point in line</li>
    <li>divide or transform points in line</li>
  </ol>
</body>
</html>