<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>making raw edit p</title>
  <style>
    .menu {
      height: 100%;
      width: 30%;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
    }
    .main {
      height: 100%;
      width: calc(100% - 30% - 8px - 16px - 400px);
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      left: calc(30%);
    }
    .preview {
      width: 400px;
      height: 100%;
      /*background-color: lightgray;*/
      position: fixed;
      right: 0;
      /*top: 0;*/
      z-index: 1;
    }
  </style>
</head>
<body onload="init()">
  <div class="menu" id="id-menu">
  </div>
  <div class="main" id="id-main">
    <div style="margin: 10px">
      <canvas style="border: solid 1px" id="id-canvas"></canvas>
    </div>
  </div>
  <div class="preview" id="id-preview"></div>

  <script type="text/javascript" src="fnc/fnc-outline.js"></script>
  <script type="text/javascript" src="fnc/fnc-outline-edge.js"></script>
  <script type="text/javascript" src="fnc/fnc-outline-point.js"></script>
  <script type="text/javascript" src="fnc/fnc-outline-edit-p-set.js"></script>
  <script type="text/javascript" src="fnc/fnc-save.js"></script>
  <script type="text/javascript" src="fnc/fnc-line-info.js"></script>
  <script type="text/javascript" src="fnc/fnc-merge-line-info.js"></script>
  <script type="text/javascript" src="fnc/fnc-draw.js"></script>
  <script type="text/javascript" src="fnc/fnc-divide-line.js"></script>
  <script type="text/javascript" src="fnc/fnc-transform-line-info.js"></script>
  <script type="text/javascript" src="fnc/fnc-raw-info.js"></script>
  <script type="text/javascript" src="cmp/cmp-btn.js"></script>
  <script type="text/javascript" src="cmp/cmp-common.js"></script>
  <script type="text/javascript" src="cmp/cmp-input.js"></script>
  <script type="text/javascript" src="cmp/cmp-raw-drawer.js"></script>
  <script type="text/javascript" src="cmp/cmp-select.js"></script>
  <script>
    let editPSetList = []
    let rawSetList = []

    let canvas
    let ctx
    let szw = 20
    let szh = 20
    let sx = 20
    let sy = 20
    let color = 'white'
    let lineColor = 'black'
    let lineWidth = 1
    let editType = 'none'
    let editTypeList = [ 'none', 'add-p', 'remove-p', 'slice', 'curve' ]
    // let iList = []
    // let edgeList = []
    let placeInfo

    let saveMode = 'new' // update (override) / new

    function init() {
      const main = document.getElementById('id-main')
      canvas = document.getElementById('id-canvas')
      canvas.width = main.offsetWidth - 22
      canvas.height = main.offsetHeight - 22 - 8
      ctx = canvas.getContext('2d')

      loadRawSetList()
    }

    function loadRawSetList() {
      const request = new Request('/str-set/raw-set-list')
      fetch(request).then((response) => response.json()).then((json) => {
        console.log(json)
        if (json.code === 'list') {
          for (const str of json.list) {
            rawSetList.push(str)
          }
          loadEditSetList()
        }
      })
    }

    function loadEditSetList() {
      const request = new Request('/str-set/edit-p-set-list')
      fetch(request).then((response) => response.json()).then((json) => {
        console.log(json)
        if (json.code === 'list') {
          for (const str of json.list) {
            editPSetList.push(str)
          }
          makeMenu()
        }
      })
    }

    function makeMenu() {
      const menu = document.getElementById('id-menu')
      makeInputRawUCode(menu)
      makeLinePlaceEdit(menu)
      makePSetEdit(menu)
    }

    function makeInputRawUCode(menu) {
      const container = createContainer()
      menu.appendChild(container.border)
      makeInputTextBtn('id-input-edit-p-set-ucode', container.content, 'edit pSet uCode: ', 'load',
        () => {
          const uCode = getInputValue('id-input-edit-p-set-ucode')
          const editPSet = editPSetList.find(p => p.split('/')[0] === uCode)
          const editPInfo = createEditPSetInfo(editPSet)
          placeInfo = createEmptyPlaceInfo()
          placeInfo.pSetInfo = editPInfo
          if (saveMode === 'new') placeInfo.pSetInfo.uCode = `edit-p-set-${getCurrentDateUCode()}`
          makeLine(placeInfo, rawSetList)
          updateCrnt()
        })
      makeInputTextBtn('id-input-raw-ucode', container.content, 'raw uCode: ', 'add',
        () => {
          addRaw()
        })
      // list: [ { id: '', labelTxt: '', onClick: null } ]
      makeBtnGroup(container.content, [
        { id: 'id-btn-print', labelTxt: 'print', onClick: () => { print() } },
        { id: 'id-btn-save', labelTxt: 'save', onClick: () => { save() } },
        { id: 'id-btn-save-to-line', labelTxt: 'save to line', onClick: () => { saveToLine() } }
      ])
      makeSimpleTxtDiv('id-txt-div-post-result', container.content, '')
    }

    function makePSetEdit(menu) {
      const container = createContainer()
      container.content.innerText = 'edit pSet info'
      menu.appendChild(container.border)
      makeInputText('id-input-change-raw-ucode', container.content, 'raw uCode: ')
      makeInputNum('id-input-szw', container.content, 'szw: ', szw,
        () => { szw = getInputValueNumber('id-input-szw') })

      makeInputNum('id-input-szh', container.content, 'szh: ', szh,
        () => { szh = getInputValueNumber('id-input-szh') })
      // makeInputNum('id-input-start-x', container.content, 'start x: ', sx,
      //   () => { sx = getInputValueNumber('id-input-start-x') })
      // makeInputNum('id-input-start-y', container.content, 'start y: ', sy,
      //   () => { sy = getInputValueNumber('id-input-start-y') })

      makeInputText('id-input-color', container.content, 'color: ')
      changeInputValue('id-input-color', color)

      makeInputText('id-input-line-color', container.content, 'line color: ')
      changeInputValue('id-input-line-color', lineColor)

      makeInputNum('id-input-line-width', container.content, 'line width: ', lineWidth,
        () => {
          lineWidth = getInputValueNumber('id-input-line-width')
        })

      makeSelect('id-select-edit-type', container.content, 'edit type: ', 'choose edit type',
        () => { editType = getInputValue('id-select-edit-type') })
      initSelect('id-select-edit-type', editTypeList)

      makeInputText('id-input-i-list', container.content, 'iList: ')
      // iList = []
      // const str = getInputValue('id-input-i-list')
      // const split = str.split(',')
      // for (const st of split) {
      //   iList.push(Number(st))
      // }
      makeInputText('id-input-edge-type-list', container.content, 'edge type list: ', 'change')
      // edgeList = []
      // const str = getInputValue('id-input-edge-type-list')
      // const split = str.split(',')
      // for (const st of split) {
      //   if (st === 'left-top' || st === 'left-bottom'
      //     || st === 'right-top' || st === 'right-bottom'
      //     || st === 'left-top-inside' || st === 'left-bottom-inside'
      //     || st === 'right-top-inside' || st === 'right-bottom-inside') edgeList.push(st)
      // }
      makeBtnGroup(container.content, [{ id: 'id-btn-change-p-set', labelTxt: 'change pSet',
        onClick: () => {
          changePSet()
        } }])
    }

    function makeLinePlaceEdit(menu) {
      const container = createContainer()
      container.content.innerText = 'current place info'
      menu.appendChild(container.border)
      makeInputNum('id-input-line-sx', container.content, 'sx: ', sx,
        () => {
          sx = getInputValueNumber('id-input-line-sx')
          draw()
        })
      makeInputNum('id-input-line-sy', container.content, 'sy: ', sy,
        () => {
          sy = getInputValueNumber('id-input-line-sy')
          draw()
      })
    }

    // edit p set
    // uCode/raw uCode/szw/szh/color/lineColor/lineWidth/edit type/i num/i,i,i, ... list/edge type num/edge type,type ... list
    function print() {
      console.log(placeInfo)
    }

    function save() {
      const pSetStr = createEditPStrSet(placeInfo.pSetInfo)
      console.log(pSetStr)
      saveString(placeInfo.pSetInfo.uCode, pSetStr)

      const label = document.getElementById('id-txt-div-post-result')
      label.innerText = ''
      postStrSet({
        uCode: placeInfo.pSetInfo.uCode,
        str: pSetStr,
        type: 'edit-p-set',
        dsg: '',
        memo0: '',
        memo1: '',
        memo2: '',
      }, label)
    }

    function saveToLine() {
      if (!placeInfo.lineInfo) return
      const lineSet = createSimpleLineStrSet(placeInfo.lineInfo)
      saveString(placeInfo.lineInfo.uCode, lineSet)

      const label = document.getElementById('id-txt-div-post-result')
      label.innerText = ''
      postStrSet({
        uCode: placeInfo.lineInfo.uCode,
        str: lineSet,
        type: 'line',
        dsg: '',
        memo0: 'raw-edit-p',
        memo1: '',
        memo2: '',
      }, label)
    }

    function addRaw() {
      const rawUCode = getInputValue('id-input-raw-ucode')

      placeInfo = {
        x: sx,
        y: sy,
        pSetInfo: {
          uCode: `edit-p-set-${getCurrentDateUCode()}`,
          rawUCode: rawUCode,
          szw: szw,
          szh: szh,
          color: color,
          lineColor: lineColor,
          lineWidth: lineWidth,
          editType: 'none',
          iList: [],
          edgeTypeList: []
        },
        lineInfo: null
      }
      makeLine(placeInfo, rawSetList)
      updateCrnt()
    }

    function draw() {
      ctx.clearRect(0, 0, canvas.width, canvas.height)

      drawLineInfo(ctx, placeInfo.lineInfo, sx, sy)
    }

    function updateCrnt() {
      const pSet = placeInfo.pSetInfo
      changeInputValue('id-input-change-raw-ucode', pSet.rawUCode)
      changeInputValue('id-input-szw', pSet.szw)
      changeInputValue('id-input-szh', pSet.szh)
      changeInputValue('id-input-color', pSet.color)
      changeInputValue('id-input-line-color', pSet.lineColor)
      changeInputValue('id-input-line-width', pSet.lineWidth)
      changeInputValue('id-select-edit-type', pSet.editType)
      if (pSet.iList.length > 0) changeInputValue('id-input-i-list', pSet.iList.join(','))
      if (pSet.edgeTypeList.length > 0) changeInputValue('id-input-edge-type-list', pSet.edgeTypeList.join(','))
      draw()
    }

    function changePSet() {
      const pSet = placeInfo.pSetInfo
      pSet.rawUCode = getInputValue('id-input-change-raw-ucode')
      pSet.szw = getInputValueNumber('id-input-szw')
      pSet.szh = getInputValueNumber('id-input-szh')
      pSet.color = getInputValue('id-input-color')
      pSet.lineColor = getInputValue('id-input-line-color')
      pSet.lineWidth = getInputValueNumber('id-input-line-width')
      pSet.editType = getInputValue('id-select-edit-type')

      pSet.iList = []
      const iListStr = getInputValue('id-input-i-list')
      const iSplit = iListStr.split(',')
      for (const st of iSplit) pSet.iList.push(Number(st))

      pSet.edgeTypeList = []
      const typeStr = getInputValue('id-input-edge-type-list')
      const tSplit = typeStr.split(',')
      for (const st of tSplit) {
        if (st === 'left-top' || st === 'left-bottom'
          || st === 'right-top' || st === 'right-bottom'
          || st === 'left-top-inside' || st === 'left-bottom-inside'
          || st === 'right-top-inside' || st === 'right-bottom-inside') pSet.edgeTypeList.push(st)
      }

      makeLine(placeInfo, rawSetList)
      draw()
    }

    function postStrSet(obj, label) {
      const request = new Request('/str-set/add-str', {
        headers: { 'Content-Type': 'application/json' },
        method: 'POST', body: JSON.stringify(obj)
      })
      fetch(request).then(response => {
        return response.json()
      }).then(result => {
        console.log(result)
        const str = `${obj.type}: ${result.code}`
        label.innerText = `${label.innerText}, ${str}`
      })
    }
  </script>
</body>
</html>